<!DOCTYPE html>
<html lang="es">
  <%- include('includes/header') -%>
  <body>

    <section class="bg-light ">
      <div class="container ">
        <div class="row justify-content-center align-items-center vh-100">
          <div class="col-12 col-sm-10 col-md-8 col-lg-6 col-xl-5 col-xxl-5">
            <div class="card border border-light-subtle rounded-3 shadow-sm">
              <div class="card-body p-3 p-md-4 p-xl-5">
                
                <h2 class="fs-4 fw-normal text-center text-secondary mb-4">
                  Iniciar Sesión
                </h2>
                <form  data-inicio-sesion>
                  <div class="row gy-2 overflow-hidden">
                    <div class="col-12">
                      <div class="form-floating mb-3">
                        <input
                          type=""
                          class="form-control"
                          name="email"
                          id="email"
                          placeholder="name@example.com"
                          required
                        />
                        <label for="email" class="form-label">Correo Electónico</label>
                      </div>
                    </div>
                    <div class="col-12">
                      <div class="form-floating mb-3">
                        <input
                          type="password"
                          class="form-control"
                          name="password"
                          id="password"
                          value=""
                          placeholder="Password"
                          required
                        />
                        <label for="password" class="form-label"
                          >Contraseña</label
                        >
                      </div>
                      <p class="error escondido">Error al iniciar sesión</p>
                    </div>
                    <div class="col-12">
                      <div class="d-flex gap-2 justify-content-end">
                       
                        <a href="#!" class="link-primary text-decoration-none"
                          >¿Olvidó su contraseña?</a
                        >
                      </div>
                    </div>
                    <div class="col-12">
                      <div class="d-grid my-3">
                        <button class="btn btn-primary btn-lg"  type="submit">
                          Iniciar Sesión
                        </button>
                      </div>
                    </div>
                    <div class="col-12" >
                      <p class="m-0 text-secondary text-center">
                        ¿Usuario nuevo?
                        <a href="/MercadilloBucaramanga/Registrar" class="link-primary text-decoration-none"
                          >Registrarse</a
                        >
                      </p>
                      <a href="/MercadilloBucaramanga" class="link-primary text-decoration-none p-3 "
                      >Volver</a
                    >
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <script src="/js/login.js"></script>
  </body>
</html>
