html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

.full-height-section{
    height: 100%;
}

.usuario{
    width: 15px;
    height: 15px;
    margin-right: 5px;
}
.ingreso a:nth-child(1){
    margin-right: 10px;
}

.nav-link {
    display: flex; /* Usamos flexbox para alinear contenido */
    align-items: center; /* Centramos verticalmente */
}