<nav class="navbar bg-light">
  <div class="container-fluid">
    <a class="navbar-brand">LOGO</a>
<<<<<<< HEAD
    <div class="d-flex  collapse navbar-collaps ingreso">
      <a
        class="nav-link "
        aria-current="page"
        href="/MercadilloBucaramanga/Login"
        
        ><img src="/img/usuario.png" class="usuario" alt="" /> Mi cuenta</a>
      <a
        class="nav-link"
        aria-current="page"
        href="/MercadilloBucaramanga/Registrar"
        >Registrarse</a
      >
=======
    <div class="d-flex collapse navbar-collaps ingreso">
      <a
        class="d-flex align-items-center nav-link"
        aria-current="page"
        href="/MercadilloBucaramanga/Login"
        ><img src="/img/usuario.png" class="usuario" alt="Icono usuario" /> <%
        if (typeof UserName !== 'undefined') { %> <%- UserName %> <% } else { %>
        Ingresar <% } %>
      </a>

      <a
        id="cerrar-sesion"
        class="nav-link"
        aria-current="page"
        href="/MercadilloBucaramanga/Registrar"
        ><% if (typeof UserName !== 'undefined') { %> Cerrar Sesion <% } else {
        %> Registrarse <% } %>
      </a>
>>>>>>> IvanDario
    </div>
  </div>
</nav>
