<nav class="navbar bg-light">
  <div class="container-fluid">
    <a class="navbar-brand">LOGO</a>
    <div class="d-flex  collapse navbar-collaps ingreso">
      <a
        class="nav-link "
        aria-current="page"
        href="/MercadilloBucaramanga/Login"
        
        ><img src="/img/usuario.png" class="usuario" alt="" /> Mi cuenta</a>
      <a
        class="nav-link"
        aria-current="page"
        href="/MercadilloBucaramanga/Registrar"
        >Registrarse</a
      >
    </div>
  </div>
</nav>
