<nav class="navbar bg-light">
  <div class="container-fluid" style="height: 32px;">
    <!-- Contenido del navbar -->
    <div class="d-flex justify-content-end w-100 align-items-center " style="position: fixed; padding-right: 20px;">
      <!-- Utiliza justify-content-end para alinear los elementos a la derecha -->
      <a class="d-flex align-items-center nav-link mx-2" id="miEnlaceUsuario" style="z-index: 10000; " >
        <img src="/img/usuario.png" class="usuario" alt="Icono usuario" />
        <div id="usernameData"></div>
      </a>
      <a  id="cerrar-sesion" class="nav-link" aria-current="page" href="/MercadilloBucaramanga/Login" style="z-index: 10000;">
        <div id="sesion"></div>
       
      </a>
    </div>
  </div>
</nav>


