
<nav
  class="navbar navbar-expand-md sidebar p-0 px-2 pt-1 navbar-light bg-light fixed-top col-md-3 col-lg-2   d-md-block nav-width" 
>

 <!-- Botón de hamburguesa para pantallas pequeñas -->
 <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
  <span class="navbar-toggler-icon"></span>
</button>
<a style="margin-right: 6px; font-weight: bolder;"
class="navbar-brand"
href="/MercadilloBucaramanga"
>Mercadillo</a
>
<div class="collapse navbar-collapse navbar-expand-md  col-md-3 col-lg-2 hamburguesa  w-100" id="navbarNav">
    

  <div id="data"></div>
</div>
</nav>


