<nav class="navbar navbar-expand-md sidebar p-0 px-2 pt-1 navbar-light bg-light fixed-top col-md-3 col-lg-2   d-md-block nav-width" >
    <!-- Logo visible en todos los tamaños -->
    

    <!-- Botón de hamburguesa para pantallas pequeñas -->
    <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Contenido del navbar colapsable -->
    <div class="collapse navbar-collapse navbar-expand-md  col-md-3 col-lg-2 hamburguesa  " id="navbarNav">
        <ul class="navbar-nav flex-column">
            <li class="nav-item active mt-5">
                <a class="nav-link" href="/MercadilloBucaramanga/Usuario">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/MercadilloBucaramanga/Productos">Productos</a>
            </li>
        </ul>
    </div>
</nav>
